/* start global rules */

/* end global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: "work Sans", sans-serif ;
    margin: 0;
    padding: 0;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top:-20px;
    }
}
.continer{
    width:750px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* start header */
.header{
    padding: 2px;
  text-align: center;
  background-image: url("CARS3.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: top;
  color: #ffffffdb;
  width:100%;
  height:580px;
}
.header h1 {
    font-size: 75px;
  }
/* end header */
/* start links */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
  }
    .navbar a.right {
    float: right;
  }
  .navbar a:hover {
    background-color: #000;
    color: red;
  }
/* end links */